<web-app>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.mvcservlets.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>ru.job4j.mvcservlets.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>ru.job4j.mvcservlets.UsersListServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersCreateServlet</servlet-name>
        <servlet-class>ru.job4j.mvcservlets.UsersCreateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersEditServlet</servlet-name>
        <servlet-class>ru.job4j.mvcservlets.UsersEditServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersEditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersSignInServlet</servlet-name>
        <servlet-class>ru.job4j.mvcservlets.UsersSignInServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersSignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserSignOutServlet</servlet-name>
        <servlet-class>ru.job4j.mvcservlets.UserSignOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSignOutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CountryAjaxServlet</servlet-name>
        <servlet-class>ru.job4j.mvcservlets.CountryAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountryAjaxServlet</servlet-name>
        <url-pattern>/country</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>

</web-app>