<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Shop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/scripts/scripts.js"></script>
</head>
<body>
<p>Car list</p>
<div style="background-color: aqua; margin: 5px">
    <img src="/style/car.jpg" alt="Car" height="42" width="42">
    <h3>Some car</h3>
    <a href="123.html">123</a>
    <div style="background-color: chartreuse">
        <a href="456">456</a>
        <input type="button" value="click" onclick="msg()">
    </div>
</div>

<div style="background-color: aqua; margin: 5px">
    <a href="321.html">321</a>
    <div style="background-color: chartreuse">
        <a href="654">654</a>
    </div>
</div>
</body>
</html>