<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Shop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="./scripts/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="./style/style.css"><meta charset="UTF-8">
</head>
<body>

<div id="head">
    <table width="1000px">
        <tr>
            <td width="70%">
                Item list
            </td>
            <td width="10%">
                Current user :
            </td>
            <td width="10%" align="right">
                <form id="create" action="./create" method="get"><input type="submit" value="Create"></form>
            </td>
            <td width="10%" align="right">
                <form id="signin"><input type="submit" value="Sign in"></form>
            </td>
        </tr>
    </table>
</div>

<table id="items">
</table>

</body>
</html>