<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL shortener</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="./scripts.js"></script>
</head>
<body>
<p>Create new user</p>
<form name="usercreate" onsubmit="openaccount();return false">
    <label>Enter new user name</label>
    <input id="accountId" type="text">
    <input type="submit" value="create account">
</form>
<label id="result"></label>
<br>
<label id="password"></label>
</body>
</html>