<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL shortener</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="./scripts.js"></script>
</head>
<body>
<p>Create new account:</p>
<form action="/account" method="get"><button value="Account">Account</button></form>
<br>
<p>Register url:</p>
<form action="/register" method="get"><button value="Register">Register</button></form>
<br>
<p>Redirect url:</p>
<form action="/redirect" method="get"><button value="Redirect">Redirect</button></form>
<br>
<p>Statistics:</p>
<form action="/statistic" method="get"><button value="Statistics">Statistics</button></form>
<br>
</body>
</html>