<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>URL shortener</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            fill_stat_table();
        });

        function fill_stat_table() {
            var login = $("#user_name").val();
            var url = "/statistic/" + login;
            console.log(url);

            $("#table_stat").empty();
            $.ajax({
                type: "GET",
                url: url,
                dataType: "JSON",
                success: function (response) {
                    var tr;
                    for (var i in response) {
                        tr = $('<tr>').append(
                            $('<td>').text(i),
                            $('<td>').text(response[i])
                        );
                        $("#table_stat").append(tr);
                    }
                }
            })
        }
    </script>
</head>
<body>
<table>
    <tr>
        <td><form action="/account" method="get"><button value="Account">Account</button></form></td>
        <td><form action="/register" method="get"><button value="Register">Register</button></form></td>
        <td><form action="/redirect_page" method="get"><button value="Redirect">Redirect</button></form></td>
        <td><form action="/statistic" method="get"><button value="Statistics">Statistics</button></form></td>
    </tr>
</table>
<p>Statistics:</p>
<input id="user_name" type="hidden" th:value="${AccountId}">
<table style="border: black solid 1px">
    <thead>
    <td>Url</td>
    <td>Count</td>
    </thead >
    <tbody id="table_stat">
    </tbody>
</table>
</body>
</html>